<header>
    
   
   <mat-toolbar color="primary">
    <span>Lijst van Personeel</span>
  
  </mat-toolbar>
</header>
<div fxLayout="column" fxLayoutGap="2%">
 <app-add-personeel (newPersoneel)="addNewPersoneel($event)"></app-add-personeel>
    <div
      fxLayout="row wrap"
      fxLayout.xs="column"
      fxLayoutGap="0.5%"
      fxLayoutAlign="start"
    >
      <div
        class="personeel"
        *ngFor="let localPersoneel of personeel"
        fxFlex="0 0 calc(25%-0.5%)"
        fxFlex.xs="100%"
      >
        <app-personeel [personeel]="localPersoneel"></app-personeel>
      </div>
    </div>
  </div>