<header>
  <mat-toolbar color="primary">
    <span>Lijst van Personeel</span>
  </mat-toolbar>
</header>

<div *ngIf="personeel$ | async as personeel; else loadingOrError">
  <div fxLayout="column" fxLayoutGap="2%">
    <mat-form-field>
      <input
        matInput
        (keyup)="filterPersoneel$.next($event.target.value)"
        placeholder="filter"
        type="text"
      />
    </mat-form-field>
    <button mat-raised-button (click)="onCreate()">
      <mat-icon>add</mat-icon>
      Voeg werknemer toe
    </button>
    <app-add-personeel
      (newPersoneel)="addNewPersoneel($event)"
    ></app-add-personeel>
    <div
      fxLayout="row wrap"
      fxLayout.xs="column"
      fxLayoutGap="0.5%"
      fxLayoutAlign="start"
    >
      <div
        class="personeel"
        *ngFor="  let localPersoneel of personeel | personeelFilter: filterPersoneelName "
        fxFlex="0 0 calc(25%-0.5%)"
        fxFlex.xs="100%"
      >
        <app-personeel [personeel]="localPersoneel"></app-personeel>
      </div>
    </div>
  </div>
</div>
<ng-template #loadingOrError>
  <mat-card class="error" *ngIf="errorMessage; else loading">
     Error loading the personeel list: {{ errorMessage }}. <br/>
      Please try again later.
    <ng-template #loading>
      <mat-spinner></mat-spinner>
    </ng-template>
  </mat-card>
</ng-template> 
