<mat-card class="center">
  <mat-card-header>
    <mat-card-title data-cy=personeel-title class="title">
      <div class="divlayout">     
        <mat-icon>badge</mat-icon>
        {{ personeel.name }}
      </div>
    </mat-card-title>
    <mat-card-subtitle>{{ personeel.functie }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Begonnen op {{ personeel.datumInDienst | date: 'fullDate'}} <br> Geboren op  {{ personeel.geboorteDatum | date: 'fullDate'}}
    </p>
    <div class="fotoKader">
      <p class="imageAlt" *ngIf="image == null">no image provided</p>
      <img *ngIf="image != null" mat-card-image [src]="image" alt="Employee image">
      <div *ngIf="image == null">
        <button type="file" mat-button accept="image/*" (click)="fileInput.click()">Select File</button>
      </div>
    </div>
    <div>
      <ul>
        <li *ngFor="let bewoner of bewoners">{{bewoner.name}}</li>
      </ul>
    </div>
    
  </mat-card-content>
  <mat-card-actions class="center">
    <button (click)="deletePersoon()">
      <mat-icon>delete_forever</mat-icon>
    </button>
    <input
    style="display: none"
    type="file" (change)="onFileChanged($event)"
    #fileInput>
 
  </mat-card-actions>
  
</mat-card>
