<h1>Voeg een werknemer toe</h1>
<mat-card class="center">
  <form [formGroup]="personeelFG" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Naam</mat-label>
        <input
          matInput
          placeholder="Naam"
          type="text"
          aria-label="name"
          #newPersoneelname
          required
          formControlName="name"
          data-cy="naam"
        />
        <mat-icon matSuffix>person</mat-icon>
        <mat-error
          *ngIf="
            personeelFG.get('name')['errors'] && personeelFG.get('name').touched
          "
        >
          {{ getErrorMessage(personeelFG.get("name")["errors"]) }}
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Functie</mat-label>
        <input
          matInput
          placeholder="Functie"
          type="text"
          aria-label="Functie"
          required
          formControlName="functie"
          data-cy="functie"
        />
        <mat-icon matSuffix>construction</mat-icon>
        <mat-error
          *ngIf="
            personeelFG.get('functie')['errors'] &&
            personeelFG.get('functie').touched
          "
        >
          {{ getErrorMessage(personeelFG.get("functie")["errors"]) }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="pat@example.com"
          type="email"
          aria-label="email"
          required
          formControlName="email"
          data-cy="email"
        />
        <mat-icon matSuffix>email</mat-icon>
        <mat-error
          *ngIf="
            personeelFG.get('email')['errors'] &&
            personeelFG.get('email').touched
          "
        >
          {{ getErrorMessage(personeelFG.get("email")["errors"]) }}
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>TelefoonNummer</mat-label>
        <span matPrefix>+32 &nbsp;</span>
        <input
          matInput
          placeholder="478 19 15 17"
          type="tel"
          aria-label="telefoonNummer"
          required
          formControlName="telefoonNummer"
          data-cy="telefoonNummer"
        />
        <mat-icon matSuffix>phone</mat-icon>
        <mat-error
          *ngIf="
            personeelFG.get('telefoonNummer')['errors'] &&
            personeelFG.get('telefoonNummer').touched
          "
        >
          {{ getErrorMessage(personeelFG.get("telefoonNummer")["errors"]) }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>GeboorteDatum</mat-label>
        <input
          matInput
          placeholder="GeboorteDatum"
          type="date"
          aria-label="GeboorteDatum"
          required
          formControlName="geboorteDatum"
          data-cy="geboorteDatum"
        />

        <mat-error
          *ngIf="
            personeelFG.get('geboorteDatum')['errors'] &&
            personeelFG.get('geboorteDatum').touched
          "
        >
          {{ getErrorMessage(personeelFG.get("geboorteDatum")["errors"]) }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Datum in dienst</mat-label>
        <input
          matInput
          placeholder="DatumInDienst"
          type="date"
          aria-label="DatumInDienst"
          required
          formControlName="datumInDienst"
          data-cy="datumInDienst"
        />
        <mat-error
          *ngIf="
            personeelFG.get('datumInDienst')['errors'] &&
            personeelFG.get('datumInDienst').touched
          "
        >
          {{ getErrorMessage(personeelFG.get("datumInDienst")["errors"]) }}
        </mat-error>
      </mat-form-field>
    </div>
    <button  data-cy="btnsubmit" type="submit" mat-raised-button [disabled]="!personeelFG.valid">
      Save
    </button>
  </form>
  <app-bewoner (newItemEvent)="addBewoner($event)"> </app-bewoner>
  <ul>
    <li *ngFor="let bewoner of bewoners">{{bewoner.name}}</li>
  </ul>
</mat-card>

{{ personeelFG.value | json }}
